*{
    font-family: "Bree Serif", sans-serif;
}
a{
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
}
.editor{
    height: 50vh;
}
.result{
    height: 100vh;
}
textarea, iframe{
    height: 100%;
    width: 100%;
    background: transparent;
}
textarea{
    color: #e2e2e2;
    background-color: #121212;
    outline: none;
    border: none;
    resize: none;
}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: transparent;border: none;}
::-webkit-scrollbar-track:hover {background: transparent;}
::-webkit-scrollbar-thumb {background: #b1b1b1;}
::-webkit-scrollbar-thumb:hover {background: #c3c3c3;}

@media screen and (min-width: 992px) {
    #controls{
        display: none;
    }
    #html, #css, #js, #result{
        display: block;
    }
}
@media screen and (max-width: 991px) {
    .editor{
        height: 100vh;
    }
    #css, #js, #result{
        display: none;
    }
}